body {
    background: url("background.jpg")
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
#calculadora {
    background-color: rgb(83, 78, 78);
    width: 322px;
    height: 520px;
    padding: 4px;
    border-radius: 4%;
    border: 0.5px solid white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}
#calculadora .btn {
    margin: 3px;
    border-radius: 0;
    min-height: 44px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 5%;
}
#calculadora .btn:hover {
    background-color: #BCBCBC;
}
#calculadora .btn:active {
    background-color: #909090;
}
header {
    height: 205px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}
#display {
    color: white;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 48px;
    padding-right: 5px;
    font-weight: 600;
}
.btn-number {
    background-color: #EFEFEF;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.btn-others {
    background-color: #D1D1D1;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}